<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Plafar</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletHome</display-name>
    <servlet-name>ServletHome</servlet-name>
    <servlet-class>control.ServletHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletHome</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>control.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategorieServlet</display-name>
    <servlet-name>CategorieServlet</servlet-name>
    <servlet-class>control.CategorieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategorieServlet</servlet-name>
    <url-pattern>/afiseaza-categorie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdaugaInCos</display-name>
    <servlet-name>AdaugaInCos</servlet-name>
    <servlet-class>control.AdaugaInCos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdaugaInCos</servlet-name>
    <url-pattern>/cos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>control.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inbox</display-name>
    <servlet-name>Inbox</servlet-name>
    <servlet-class>control.Inbox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inbox</servlet-name>
    <url-pattern>/inbox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Invalidare</display-name>
    <servlet-name>Invalidare</servlet-name>
    <servlet-class>control.Invalidare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Invalidare</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Slide</display-name>
    <servlet-name>Slide</servlet-name>
    <servlet-class>control.Slide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Slide</servlet-name>
    <url-pattern>/slide</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Descriere</display-name>
    <servlet-name>Descriere</servlet-name>
    <servlet-class>control.Descriere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Descriere</servlet-name>
    <url-pattern>/produs</url-pattern>
  </servlet-mapping>
</web-app>